@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    background-color: #252a34;
    color: #eaeaea;
    font: Crimson Text,serif;
}

body{
    background: rgb(24, 23, 23);
    color: wheat;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 100%;
    padding: 5em 0;
    position: relative;
    flex-wrap: wrap-reverse;
}

#main::before{
    content:"";
    width: 100%;
    height: 30em;
    position: absolute;
    right: 25em;
    z-index: -1;
    background: rgb(19, 19, 19);
}

#main .user_info {
    margin: 0 30px;
}
#main .user_info .user_name{
    font-family: serif;
    font-size: 5em;  
}

#main p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.9em;
    color:rgb(230, 156, 59);
    margin-bottom: 1.5em;
}

#main .user_img img{
  width: 25em;
  height: 25em;
  border-radius: 50%;
  margin-left: 40%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
}

#main .user_info .btn {
    padding: 0.6em 2em;
    background: none;
    color: rgb(206, 175, 175);
    font-size: 1.1em;
    cursor:pointer;
    text-decoration: none;
    border: 2px solid tomato;
    transition: all 0.4s;
}
#main .user_info .btn:hover {
    background: rgb(233, 55, 55);
  }

#particles-js {
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*-----about section ----*/
.about{
    width: 100%;
    background: #1a1a1a;
    padding: 2em 0;
    margin: 25px;
}

.about div{
    width: 45%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
}
.about img{
    width: 25em;
    margin: 5em;
}
.about_heading{
    font-size: 6em;
    font-family: inherit;
}
.about p{
    font-size: 1.9em;
    color:rgb(204, 188, 188);
    opacity: 0.6;
}

/*-----skills section------*/
.skills{
    width:100%;
    margin: 2em 0;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
}
.skills::before,
.skills::after {
    content: "";
    position: absolute;
    width: 20em;
    height: 20em;
    background: #be88ec;
    background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  );
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  );
  border-radius: 50%;
}
.skills::before {
    left: -10em;
    bottom: 0;
  }
  .skills::after {
    right: -10em;
    top: 8em;
    background: #f953c6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b91d73,
      #f953c6
    ); 
    background: linear-gradient(
        to right,
        #b91d73,
        #f953c6
      );
  }

  .skill_box {
      display: flex;
    flex-wrap: wrap;
  }
  .skill_box .box {
      margin: 2em 2em;
      width: 15em;
      height: 12em;
      background: rgb(44, 43, 43);
      background: rgb(34, 33, 33);
      border: 1px solid rgba(255, 255, 255, 0.068);
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      position: relative;
      z-index: 1;
  }
  .skill_box .box::before{
    content: "";
    position: absolute;
    background: rgb(80, 74, 150);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: bottom;
    transform: scaleY(0.03);
    transition: all 0.3s;
  }
  .skill_box .box:hover::before{
      transform: scaleY(1);
  }
  .skill_box .box i {
    margin-bottom: 0.1em;
  }
  .skill_head {
    font-size: 6em;
    font-family: inherit;
  }

  /*----Projects-----*/
  .projects{
      width: 100%;
      padding: 2em 0;
      position: relative;
      flex-direction: column;
      background: #1d1c1c;
      overflow-x: hidden;
      
  }
  .projects::before,
.projects::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  background: #f953c6; 
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); 
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); 
  border-radius: 50%;
}
.projects::before {
  left: -10em;
  bottom: 0;
}
.projects::after {
  right: -10em;
  top: 8em;
  background: #8e2de2; 
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); 
}
.projects .project_heading {
    margin-bottom: 0.4em;
    font-size: 6em;
    font-family: inherit;
    background-color: #1d1c1c;
  }
  .projects .container {
    width: 100%;
    flex-wrap: wrap;
    z-index: 1;
  }
  .projects .container .main_box {
    width: 35em;
    height: 12em;
    margin: 0.5em 2em;
    justify-content: space-evenly;
    background: rgba(31, 30, 30, 0.116);
    border: 1px solid rgba(85, 84, 84, 0.199);
    cursor: pointer;

  }
  .main_box{
    border-radius: 15px;
  }
  .main_box:hover{
    box-shadow: 0 5px 16px 0 black; 
  }
  .projects .container .main_box .icon {
    width: 2em;
    height: 150px;
    margin-left: 0.1em;
    font-size: 8em;
    
  }
  .projects .container .main_box .box {
    width: 20em;
    margin-left: 0.8em;
    padding-right: 0.5em;
  }
  .projects .container .main_box .box :is(h1, p) {
    margin-bottom: 0.5em;
  }
  .projects .container .main_box .box p{
    opacity: 0.6;
  }
  .projects .container .main_box .box .links a {
    color: var(--light-color);
    text-decoration: none;
    margin-right: 0.4em;
    transition: all 0.4s;
  }
  .projects .container .main_box .box .links a i {
    margin-left: 0.4em;
    transition: all 0.4s;
  }
  .projects .container .main_box .box .links a:hover {
    color: rgb(230, 156, 59);
  }
  .projects .container .main_box .box .links a:hover i {
    transform: translateX(0.2em);
    color: rgb(233, 55, 55);
  }
  #particles-js2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  /*----footer---*/
  footer{
    width: 100%;
    padding: 3em 0;
    flex-direction: column;
    background: #1a1a1a;
  }
  footer h1{
      font-size: 3em;
      background: #1a1a1a;
      font-family: inherit;
  }
  footer .social_media_icons{
      margin-top: 1em;
      background: #1a1a1a;
  }
  footer .social_media_icons a{
    margin: 0.8em;
    border-radius: 50px;
  }
  footer .social_media_icons a i{
      font-size: 1.8em;
      padding: 0.2em;
      transition: color 0.4s;
  }
  footer .social_media_icons a:hover i{
    font-size: 1.8em;
    padding: 0.2em;
    color: rgba(54, 54, 54, 0.966);
  }
  .toggle{
    width: 56px;
    height: 305px;
    background:rgba(20, 20, 20, 0.178);
    position: fixed;
    top: 360px; 
    z-index: 100;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .4s; 
  }
  

  .box1{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    
  }

  .box2{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
  }
  .box3{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
  }
  .box4{
    height: 70px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
  }
  .links{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  


  /*-----media query-----*/
  @media (max-width: 1120px){
    #main .user_img img{
      width: 25em;
      height: 25em;
    }
    .skills{
      height: 100%;
      padding: 5em 0;
    }
    .about{
      flex-direction: column;
    }
    .about div{
      width: 70%;
    }
  }
  @media (max-width: 900px){
    .skills {
      height: 100%;
      padding: 5em 0;
    }
    .skill_box .box {
      margin: 2em .6em;
      width: 12em;
      height: 8em;
    }
    .skill_head {
      font-size: 5em;
      font-family: inherit;
    }
    .about_heading {
      font-size: 5em;
      font-family: inherit;
    }
    .projects .project_heading {
      margin-bottom: 0.4em;
      font-size: 5em;
      font-family: inherit;
    }
  }
  @media (max-width: 700px) {
    body {
      font-size: 13px;
    }
    .skill_box .box{
      margin: 2em 0.5em;
      width: 12em;
      height: 8em;
    }
  }
  @media (max-width: 450px) {
    #main .user_img img{
      width: 20em;
      height: 20em;
    }
    .projects .container .main_box .icon{
      height: 100%;
      padding: 0.2em;
    }
    .projects .container .main_box {
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 2em 0.2em;
    }
  }
  @media (max-width: 350px) {
    body{
      font-size: 8px;
    }
  }